---
import "../assets/styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPost = await Astro.glob("./posts/*.md");
const pageTitle: string = "Blog";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/astro-tutorial/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <p>This is the blog page! welcome.</p>
      <ul>
        {
          allPost.map((post) => (
            <BlogPost url={post.url as string} title={post.frontmatter.title} />
          ))
        }
      </ul>
    </BaseLayout>
  </body>
</html>
