---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About | Astro</title>
  </head>
  <body>
    <ul>
      <li><a href="/astro-tutorial/">Home</a></li>
      <li><a href="/astro-tutorial/about/">About</a></li>
      <li><a href="/astro-tutorial/blog/">Blog</a></li>
    </ul>
    <h1>Blog Page</h1>
    <p>This is the blog page! welcome.</p>
  </body>
</html>
