<ul>
  <li><a href="/astro-tutorial/">Home</a></li>
  <li><a href="/astro-tutorial/about">About</a></li>
  <li><a href="/astro-tutorial/blog">Blog</a></li>
</ul>

<style>
  ul {
    display: flex;
    justify-content: space-around;
  }

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: #3d008b;
  }

  li:hover {
    scale: calc(105%);
    text-decoration: underline;
  }

  li:active {
    scale: calc(95%);
  }
</style>
