<ul class="nav-links">
  <li><a href="/astro-tutorial/">Home</a></li>
  <li><a href="/astro-tutorial/about">About</a></li>
  <li><a href="/astro-tutorial/blog">Blog</a></li>
</ul>

<style>
  li {
    list-style-type: none;
  }
</style>
